@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  background: #333;
  background-image: linear-gradient(rgba(0, 255, 0, .7) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 255, 0, .7) .1em, transparent .1em);
  background-size: 2em 2em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}